.hero_card{
  height: 220px;
  width: 210px;
  position: relative;
  box-shadow: 1px 1px 5px black;
  margin: 42px;
  padding: 10px;
  .hero_title{
    text-shadow: 1px 1px 5px black;
    color: #e9ecef;
    font-size: 26px;
  }
  .hero_class{
    font-weight: bolder;
    position: absolute;
    right: -2px;
    top: 17px;
    font-size: 60px;
  }
  .s{
    color: gold;
    text-shadow: 1px 0px 10px gold;
  }
  .a{
    color: silver;
    text-shadow: 1px 0px 10px silver;
  }
  .b{
    color: #E8BC83;
    text-shadow: 1px 0px 10px #E8BC83;
  }
  .c{
    color: gray;
    text-shadow: 1px 0px 10px gray;
  }
}